.cache
.vscode
*.bak
third_party
misc
__pycache__
*/__pycache__
quad/kernels/build
quad/kernels/dist
quad/kernels/quad_cuda.egg-info
quad/kernels/third_party
.pkl_memoize_py3
eval_long_cot
tilelang/
out.log

.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
deploy.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
outputs
third-party
